name: CI

on:
  pull_request:
    paths:
      - 'src/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '.github/workflows/ci.yml'
  push:
    branches:
      - 'master'
    tags:
      - v*

env:
  CARGO_INCREMENTAL: 0
  RUST_CACHE_VERSION: v1
  PROJ_NAME: eew-renderer-url

jobs:
  release_windows:
    if: ${{ github.event_name != 'pull_request' }}
    permissions:
      contents: write

    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          submodules: true

      - name: Install Toolchains
        run: |
          winget install --id=Google.Protobuf -l C:\protobuf --exact --accept-package-agreements --accept-source-agreements
          echo C:\protobuf\bin | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - uses: Swatinem/rust-cache@v2.8.2
        with:
          prefix-key: ${{ env.RUST_CACHE_VERSION }}-rust

      - name: Build
        run: |
          cargo build --release

      - name: Install cargo license
        run: |
          cargo install cargo-license

      - name: Create CREDITS file
        shell: C:\shells\gitbash.exe {0}
        run: |
          cargo license \
            --authors \
            --do-not-bundle \
            --avoid-dev-deps \
            --filter-platform "$(rustc -vV | sed -n 's|host: ||p')" \
              > CREDITS

      - name: Make release file
        shell: C:\shells\gitbash.exe {0}
        run: |
          DIR_NAME="${{ env.PROJ_NAME }}-windows-x86_64-${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || format('master-{0}', github.sha) }}"
          mkdir "$DIR_NAME"
          cp ./target/release/eew-renderer-url.exe "$DIR_NAME/"
          cp ./LICENSE "$DIR_NAME/"
          cp ./CREDITS "$DIR_NAME/"
          cp ./README.md "$DIR_NAME/"
          7z a "$DIR_NAME.zip" "$DIR_NAME/"

      - name: pre-release
        uses: softprops/action-gh-release@v2.5.0
        if: "! startsWith(github.ref, 'refs/tags/')"
        with:
          tag_name: master-${{ github.sha }}
          prerelease: true
          fail_on_unmatched_files: true
          files: |
            *.zip

      - name: tagged-release
        uses: softprops/action-gh-release@v2.5.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          fail_on_unmatched_files: true
          files: |
            *.zip

  release_linux:
    if: ${{ github.event_name != 'pull_request' }}
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        include:
          - ghimage: ubuntu-24.04
            mcarch: amd64
            arch_s: x86_64

          - ghimage: ubuntu-24.04-arm
            mcarch: arm64
            arch_s: aarch64

    permissions:
      contents: write

    runs-on: ${{ matrix.ghimage }}

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          submodules: true

      - run: |
          sudo apt-get update -y
          sudo apt-get install -y protobuf-compiler

      - name: Install cargo license
        run: |
          cargo install cargo-license

      - uses: Swatinem/rust-cache@v2.8.2
        with:
          prefix-key: ${{ env.RUST_CACHE_VERSION }}-rust

      - name: Build
        run: |
          cargo build --release

      - name: Create CREDITS file
        run: |
          cargo license \
            --authors \
            --do-not-bundle \
            --avoid-dev-deps \
            --filter-platform "$(rustc -vV | sed -n 's|host: ||p')" \
              > CREDITS

      - name: Make release file
        run: |
          DIR_NAME="${{ env.PROJ_NAME }}-linux-${{ matrix.arch_s }}-${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || format('master-{0}', github.sha) }}"
          mkdir "$DIR_NAME"
          cp ./target/release/eew-renderer-url "$DIR_NAME/"
          cp ./LICENSE "$DIR_NAME/"
          cp ./CREDITS "$DIR_NAME/"
          cp ./README.md "$DIR_NAME/"
          tar cvf "$DIR_NAME.tar.gz" "$DIR_NAME/"

      - name: pre-release
        uses: softprops/action-gh-release@v2.5.0
        if: "! startsWith(github.ref, 'refs/tags/')"
        with:
          tag_name: master-${{ github.sha }}
          prerelease: true
          fail_on_unmatched_files: true
          files: |
            *.tar.gz

      - name: tagged-release
        uses: softprops/action-gh-release@v2.5.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          fail_on_unmatched_files: true
          files: |
            *.tar.gz


  clippy_and_test:
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        include:
          - ghimage: ubuntu-24.04
            dockerarch: linux/amd64
            mcarch: amd64

          - ghimage: ubuntu-24.04-arm
            dockerarch: linux/arm64
            mcarch: arm64

    permissions:
      packages: write
      checks: write
      contents: read
      deployments: write

    runs-on: ${{ matrix.ghimage }}

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          submodules: true

      - run: |
          sudo apt-get update -y
          sudo apt-get install -y protobuf-compiler

      - name: Get Rust toolchain
        id: toolchain
        run: |
          awk -F'[ ="]+' '$1 == "channel" { print "toolchain=" $2 }' rust-toolchain >> "$GITHUB_OUTPUT"

      - name: install clippy
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ steps.toolchain.outputs.toolchain }}
          components: clippy

      - uses: Swatinem/rust-cache@v2.8.2
        with:
          prefix-key: ${{ env.RUST_CACHE_VERSION }}-rust

      - name: clippy check
        uses: yanorei32/action-clippy@50412b135153ebee7d4b8a5b868c4defdc663683
        with:
          reporter: github-check

      - name: unit test
        run: |
          cargo test --no-run --locked
          cargo test
